<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
<!--    <servlet>
        <servlet-name>Signup1</servlet-name>
        <servlet-class>Signup1</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>Signupservlet</servlet-name>
        <servlet-class>Signupservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginservlet</servlet-name>
        <servlet-class>Loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employerssignupservlet</servlet-name>
        <servlet-class>employerssignupservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employersloginservlet</servlet-name>
        <servlet-class>employersloginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostJobservlet</servlet-name>
        <servlet-class>PostJobservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Seeprofile</servlet-name>
        <servlet-class>Seeprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Applynow</servlet-name>
        <servlet-class>Applynow</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signupservlet</servlet-name>
        <url-pattern>/Signupservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginservlet</servlet-name>
        <url-pattern>/Loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employerssignupservlet</servlet-name>
        <url-pattern>/employerssignupservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employersloginservlet</servlet-name>
        <url-pattern>/employersloginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostJobservlet</servlet-name>
        <url-pattern>/PostJobservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Applynow</servlet-name>
        <url-pattern>/Applynow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Seeprofile</servlet-name>
        <url-pattern>/Seeprofile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
